.nav-logo {
    height: 50px;
}
.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-right: 3%;
}
.navbar-nav {
    background-color: rgba(255, 255, 255, 0.85);
    padding-bottom: 20px;
}
.nav-link {
    font-weight: bold;
    font-size: 1.5rem;
}
a {
    color: rgb(30, 43, 43) !important;
    margin-right: 10px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    border: none;
}
.profile-img-nav {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar-toggler:focus {
    box-shadow: none;
}
@media screen and (min-width: 992px) {
    .collapse {
        justify-content: flex-end;
    }
    .navbar-nav {
        background-color: transparent;
    }
    .nav-logo {
        height: 60px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 572px) {
    .nav-logo {
        margin-left: 20px;
    }
}
