* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.nav-logo {
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.nav-link {
    font-weight: bold;
    font-size: 1.5rem;
}
a {
    color: rgb(30, 43, 43) !important;
}
.open-create-task-btn{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.task-container {
    border: black 1px solid;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-container {
    border: black 1px solid;
    border-radius: 15px;
}

.task-done {
    border: green 1px solid;
    border-radius: 15px;
}

.hidden {
    display: none;
}
