@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;700&display=swap');

:root {
    --light-green: #e6ebe0;
    --orange: #ef8354;
    --orange-ligth: #ec9f7e;
    --green: #5ca4a9;
    --green-light: #85c9ce;
    --blue: #2d3142;
    --blue-ligth: #586081;
    --border-grey: #bebdbd;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Red Hat Mono', monospace;
}
/* Adjusts size of hamburger symbol */
span {
    font-size: 1.5rem;
}
input[type='checkbox'] {
    margin-right: 15px;
}
.advantage-item {
    margin: -5px;
    margin-top: 20px;
}
.advantage-img {
    width: 100%;
}
.top-margin {
    margin-top: 10%;
}
.profile-img-profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.alert {
    max-width: 700px;
}
.hidden {
    display: none;
}

/* FOOTER ------------------------------ */
footer {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 50px;
}
footer p {
    margin-bottom: 0;
}
.footer-logo {
    height: 35px;
}
.some-icon {
    height: 35px;
    margin-top: 20px;
}
@media screen and (min-width: 769px) {
    input[type='checkbox'] {
        margin-top: 5px;
    }
}
@media screen and (min-width: 1010px) {
    input[type='checkbox'] {
        margin-top: 10px;
    }
}
