.form-control {
    max-width: 700px;
}
/* Tasks ------------------------------------ */

path {
    fill: rgb(62, 63, 63);
}
svg {
    height: 20px;
}
.headline-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.create-task-container {
    margin-bottom: 20px;
}
.task-container {
    border: rgb(190, 189, 189) 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    max-width: 700px;
}
.task-title {
    margin-bottom: 0px;
}
.task-description {
    margin-bottom: 0px;
}
.edit-task-btn {
    background-color: transparent;
    border: none;
    height: 20px;
}
.add-list-btn {
    background-color: transparent;
    border: none;
    height: 20px;
}
.select-list-dropdown {
    max-width: 200px;
    height: 35px;
}
.bold-info-text {
    font-weight: bold;
}
.flex-container {
    display: flex;
    align-items: center;
}
/* Lists --------------------------------------- */

.list-container {
    border: rgb(49, 49, 49) 1px solid;
    border-radius: 15px;
    padding: 15px;
    max-width: 700px;
    margin-bottom: 10px;
}
.flex-btn-container {
    display: flex;
}
@media screen and (min-width: 992px) {
    path {
        fill: rgb(169, 172, 172);
    }
    .task-container:hover path {
        fill: rgb(54, 54, 54);
    }
    .task-container:hover .done-task-btn {
        opacity: 1;
    }
}
